.heartBeat1 {
  animation: heartBeat 1.5s infinite ease-in-out;
}

.heartBeat2 {
  animation: heartBeat 1.5s ease-in-out;
  animation-iteration-count: 2;
}

.heartBeat3 {
  animation: heartBeat 1.2s infinite ease-in-out;
}

.move {
  animation: move 1.5s infinite ease-in-out;
}

@keyframes heartBeat {
  0% {
      transform: scale(1)
  }
  7% {
      transform: scale(1.05)
  }
  14% {
    transform: scale(1)
  }
  28% {
      transform: scale(1.05)
  }
  35% {
      transform: scale(1)
  }
  100% {
      transform: scale(1)
  }
}

@keyframes light {
  0% {
    background-position: -300px; 
  }
  50% { 
    background-position: 0px;
  }
  100% {
    background-position: 0px;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}