<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.jpg" />
    <meta
      property="og:title"
      content="百事可樂陪你一起GO夏天!天天抽GoPro，加碼再抽Gogoro!
  "
    />
    <meta
      property="og:description"
      content="即日起至 08/31，買百事/七喜/激浪系列商品，登錄發票天天抽GoPro，加碼再抽Gogoro!
    "
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://2022summer.pepsi.com.tw/" />
    <meta property="og:image" content="./img/meta/share.jpg" />
    <meta
      name="keywords"
      content="百事可樂、pepsi、有百事GO夏天、七喜、激浪、7up、Mountaindew、可樂
  GoPro HERO 10 Black、Gogoro、Gogoro機車、Bose SoundLink Revolve 藍牙揚聲器
  II、藍牙音響 肯德基、必勝客、美食優惠券、coupon、鄧紫棋、GEM、代言人
  發票、登錄發票、LINE登錄發票、上網抽、天天抽、抽獎、7-11、超商、便利商店"
    />
    <link rel="stylesheet" href="./css/aos.css" />
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/tailwind.css" />
    <link rel="stylesheet" href="./css/all.css" />
    <title>有百事GO夏天!</title>
  </head>

  <body>
    <div id="app">
      <div class="loading">
        <svg width="200px" height="200px" viewBox="0 0 100 100">
          <g transform="translate(80,50)">
            <g transform="rotate(0)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="1">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.875s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.875s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(71.21320343559643,71.21320343559643)">
            <g transform="rotate(45)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.875">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.75s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.75s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(50,80)">
            <g transform="rotate(90)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.75">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.625s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.625s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(28.786796564403577,71.21320343559643)">
            <g transform="rotate(135)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.625">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.5s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.5s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(20,50.00000000000001)">
            <g transform="rotate(180)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.5">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.375s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.375s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(28.78679656440357,28.786796564403577)">
            <g transform="rotate(225)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.375">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.25s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.25s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(49.99999999999999,20)">
            <g transform="rotate(270)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.25">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="-0.125s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="-0.125s"
                ></animate>
              </circle>
            </g>
          </g>
          <g transform="translate(71.21320343559643,28.78679656440357)">
            <g transform="rotate(315)">
              <circle cx="0" cy="0" r="6" fill="#ffffff" fill-opacity="0.125">
                <animateTransform
                  attributeName="transform"
                  type="scale"
                  begin="0s"
                  values="1.5 1.5;1 1"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
                <animate
                  attributeName="fill-opacity"
                  keyTimes="0;1"
                  dur="1s"
                  repeatCount="indefinite"
                  values="1;0"
                  begin="0s"
                ></animate>
              </circle>
            </g>
          </g>
        </svg>
      </div>
      <div
        class="relative min-h-screen bg-cover bg-center bg-no-repeat"
        :class="{'bg-img-1': nowLoginWay === 'modernQRcode','bg-img-2': nowLoginWay === 'modernManual'}"
      >
        <div
          class="px-6 pt-4"
          :class="{'pb-4': nowLoginWay === 'modernManual'}"
        >
          <img src="./img/line-liff/logo.svg" alt="logo" />
          <img
            src="./img/line-liff/slogan.svg"
            alt="slogan"
            class="mx-auto -mt-4"
          />
          <div class="space-y-2">
            <img
              src="./img/line-liff/title-1.svg"
              alt="title-1"
              class="mx-auto -mt-3"
            />
            <div class="w-full">
              <input
                type="text"
                placeholder="請填您的真實姓名"
                class="block h-8 w-full rounded-5 border-[2.5px] border-secondary bg-white px-2"
                v-model="form.user.name"
              />
            </div>
            <div class="w-full">
              <input
                type="tel"
                placeholder="請填寫您的手機"
                class="block h-8 w-full rounded-5 border-[2.5px] border-secondary bg-white px-2"
                v-model="form.user.tel"
              />
            </div>
            <div class="w-full">
              <div class="relative">
                <img
                  src="./img/line-liff/icon-down-arrow.svg"
                  alt="箭頭圖示"
                  class="pointer-events-none absolute top-1/2 right-3 -translate-y-1/2"
                />
                <select
                  class="block h-8 w-full rounded-5 border-[2.5px] border-secondary bg-white px-2"
                  v-model="nowBuyShop"
                >
                  <option :value="null" disabled>請選擇購買通路</option>
                  <option
                    :value="shopping.nameEn"
                    v-for="shopping in buyShop"
                    :key="shopping.nameEn"
                  >
                    {{ shopping.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="mt-2 space-y-2">
            <img
              src="./img/line-liff/title-2.svg"
              alt="title-2"
              class="mx-auto"
            />
            <div class="w-full">
              <div class="relative">
                <img
                  src="./img/line-liff/icon-down-arrow.svg"
                  alt="箭頭圖示"
                  class="pointer-events-none absolute top-1/2 right-3 -translate-y-1/2"
                />
                <select
                  class="block h-8 w-full rounded-5 border-[2.5px] border-secondary bg-white px-2"
                  v-model="nowLoginWay"
                >
                  <option
                    v-for="way in loginWay"
                    :value="way.nameEn"
                    :key="way.name"
                  >
                    {{ way.name }}
                  </option>
                </select>
              </div>
            </div>
            <div v-show="nowLoginWay === 'modernQRcode'">
              <div class="mb-2.5 w-full">
                <a
                  href="javascript:;"
                  class="flex items-center justify-center rounded-9 bg-success p-2"
                >
                  <img src="./img/line-liff/icon-QRcode.svg" alt="QRcode" />
                  <span class="ml-3 text-20px text-white"
                    >開啟左邊QR code掃描
                  </span>
                </a>
              </div>
              <div
                class="qrcode-select space-y-1"
                :class="{'is-active': isQRCode}"
              >
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-success">*</span>
                    <h3 class="text-white">發票日期</h3>
                  </div>
                  <input
                    type="date"
                    disabled
                    class="block h-10 w-full rounded-5 border bg-gray-200 px-2 py-1.5"
                  />
                </div>
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-success">*</span>
                    <h3 class="text-white">發票號碼</h3>
                  </div>
                  <input
                    type="text"
                    maxlength="10"
                    disabled
                    class="block h-8 w-full rounded-5 border bg-gray-200 px-2 uppercase"
                  />
                </div>
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-success">*</span>
                    <h3 class="text-white">發票隨機碼</h3>
                  </div>
                  <input
                    type="text"
                    disabled
                    class="block h-8 w-full rounded-5 border bg-gray-200 px-2 uppercase"
                  />
                </div>
              </div>
            </div>
            <div v-show="nowLoginWay === 'modernManual'">
              <div class="space-y-1">
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-15px font-medium text-success">＊</span>
                    <h3 class="ml-1 text-white">發票日期</h3>
                  </div>
                  <input
                    type="date"
                    class="block h-10 w-full rounded-5 border bg-white px-2 py-1.5"
                  />
                </div>
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-15px font-medium text-success">＊</span>
                    <h3 class="ml-1 text-white">發票號碼</h3>
                  </div>
                  <input
                    type="text"
                    placeholder="請輸入發票號碼(ex:AB12345678)"
                    maxlength="10"
                    class="block h-8 w-full rounded-5 border bg-white px-2 uppercase"
                    v-model="bill.number"
                  />
                </div>
                <div>
                  <div class="mb-1 flex items-center">
                    <span class="text-15px font-medium text-success">＊</span>
                    <h3 class="ml-1 text-white">驗證碼(可點選圖片刷新)</h3>
                  </div>
                  <div class="flex items-center">
                    <input
                      type="text"
                      placeholder="1234"
                      class="mr-2 block h-8 w-full rounded-5 border bg-white px-2.5"
                    />
                    <div class="min-w-[80px]">
                      <img
                        src="./img/line-liff/verification-code.png"
                        alt="驗證碼圖片"
                        class="h-full w-full rounded-5 object-cover"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full">
              <label for="check" class="checkbox">
                <input type="checkbox" id="check" checked />
                <span
                  class="checkbox__status checkbox__status--rounded mt-2"
                ></span>
                <span class="flex-1 text-12px text-white">
                  我已詳閱<a
                    href="precautions.html#explain"
                    class="border-b border-white"
                    >活動說明</a
                  >及
                  <a
                    href="precautions.html#precautions"
                    class="border-b border-white"
                    >注意事項</a
                  >，同意提供個資作為活動參加使用，並已確認輸入有效發票，保留有顯示購買商品的發票正本及購買明細，以利兌獎。
                </span>
              </label>
            </div>
            <div class="w-full">
              <button
                type="button"
                class="block w-full rounded-9 border-2 border-secondary bg-danger p-1.5 text-20px font-semibold text-white"
                @click="sendForm"
              >
                送 出
              </button>
            </div>
          </div>
          <div class="relative mt-1" v-if="nowLoginWay === 'modernQRcode'">
            <img
              src="./img/line-liff/bg-cd-trumpet.svg"
              alt="唱片喇叭"
              class="w-full"
            />
            <img
              src="./img/line-liff/bg-product-2x.png"
              alt="產品圖"
              class="absolute top-0 left-0 h-full w-full object-cover"
            />
          </div>
        </div>
        <div class="modal" :class="{'is-active': formModal}">
          <div class="modal__main">
            <div class="modal__card">
              <ul>
                <li v-if="form.user.name === ''">
                  <p>請輸入中文姓名</p>
                </li>
                <li v-if="form.user.tel === ''">
                  <p>請輸入手機號碼</p>
                </li>
                <li v-if="bill.number === '' && nowLoginWay === 'modernManual'">
                  <p>請輸入發票號碼</p>
                </li>
              </ul>
            </div>
            <a href="javascript:;" class="modal__close" @click="closeFormModal">
              確定
            </a>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/plugin/aos.js"></script>
    <script src="./js/plugin/swiper-bundle.min.js"></script>
    <script src="./js/plugin/jquery-3.6.0.min.js"></script>
    <script type="module" src="./js/app.js"></script>
  </body>
</html>
